<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailei.mapper.UserMapper">

    <resultMap id="UserMap" type="user" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="username" property="username"></result>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="phoneNum" property="phoneNum"></result>
    </resultMap>

    <insert id="save" parameterType="user">
        insert into sys_user(username,email,password,phoneNum) values(#{username},#{email},#{password},#{phoneNum})
    </insert>
    <select id="findAll" resultType="user">
        select * from sys_user
    </select>
    <insert id="saveUserRoleRel" parameterType="Long">
        insert into sys_user_role(userId,roleId) values
        <foreach collection="roleIds" item="roleIds" separator="," index="index" >
            (#{id},#{roleIds})
        </foreach>
    </insert>
    <delete id="delUserRoleRel" parameterType="user">
        delete from sys_user_role where userId=#{id}
    </delete>
    <delete id="del" parameterType="Long">
        delete from sys_user where id=#{id}
    </delete>
    <select id="findByUsernameAndPassword" resultMap="UserMap" parameterType="user">
        select * from sys_user where username = #{username} and password = #{password}
    </select>
</mapper>